.home_content_container {
    height: 100vh; 
    
    display: flex;                
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    
    text-align: center;
}

.title {
	color: var(--text-color);
	font-size: 74px;	
}

.subtitle {
	color: var(--subtext-color);
	font-size: 32px;
}

.start_btn {
	padding: 15px 30px 15px 30px;
	margin-top: 25px;
	
	background-color: var(--button-color);
	border-radius: 15px;

	cursor: pointer;
	transition: .3s ease;
}
.start_btn:hover {
	background-color: var(--button-color_hover);
}
.start_btn p {
	color: var(--background-color);
	font-weight: bold;
	font-size: 25px;	
}
