@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;

  --button-color: #dfa479;
  --button-color_hover: #ad7247;
  --text-color: #ffffff;
  --subtext-color: #e1e1e1;
  --background-color: #1b1b1b;
}

.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  background-color: var(--background-color);
  overflow: hidden;
  top: 0;
  right: 0;
  > * {
    position: absolute;
  }
}
.background .left-lower {
  @media (max-width: 760px) {
    display: none;
  }

  left: 0;
  bottom: 0;
}
.background .right-lower {
  right: 0;
  bottom: 0;
}
.background .right-upper {
  right: 0;
  top: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #1b1b1b3c;
  box-sizing: border-box;
  padding: 0px 100px;
}
.header .logo {
  color: var(--text-color);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.header .profile-image {
  width: 25px;
  cursor: pointer;
}

input {
  box-sizing: border-box;
  background-color: #282828;
  border: none;
  border-radius: 15px;
  color: var(--text-color);
  font-size: 18px;
  padding: 15px;
  width: 100%;
}
input::placeholder {
  color: #b3b3b3;
}

.error {
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;

  color: #ff0000;
}

.custom_button {
  padding: 15px 30px 15px 30px;

  background-color: var(--button-color);
  border-radius: 15px;

  cursor: pointer;
  transition: 0.3s ease;
}
.custon_button:hover {
  background-color: var(--button-color_hover);
}
.custom_button p {
  color: var(--background-color);
  font-weight: bold;
  font-size: 25px;
  display: flex;
  justify-content: center;
}
