@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  font-family: "Inter", sans-serif;

  --button-color: #dfa479;
  --button-color_light: #fbd8c0;
  --button-color_hover: #ad7247;
  --button-color_hover_light: #b59276;
  --text-color: #ffffff;
  --subtext-color: #e1e1e1;
  --text3-color: #b3b3b3;
  --background-color: #1b1b1b;
  --background-color2: #282828;
  --background-transparent-color: #1b1b1b3c;

  --scrollbar-track-color: transparent;
  --scrollbar-thumb-color: #3c3c3c;
  --scrollbar-thumb-hover: #505050;
  --scrollbar-thumb-active: #707070;

  background-color: var(--background-color);
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}
::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-active);
}
::-webkit-scrollbar-corner {
  background: var(--scrollbar-track-color);
}

.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  background-color: var(--background-color);
  overflow: hidden;
  top: 0;
  right: 0;
  > * {
    position: absolute;
  }
}
.background .left-lower {
  @media (max-width: 760px) {
    display: none;
  }

  left: 0;
  bottom: 0;
}
.background .right-lower {
  right: 0;
  bottom: 0;
}
.background .right-upper {
  right: 0;
  top: 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;

  width: 100vw;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--background-transparent-color);
  box-sizing: border-box;
  padding: 0px 100px;

  z-index: 999;
}
.header .logo {
  color: var(--text-color);
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
}
.header .profile-container {
  display: flex;
  align-items: center;

  p {
    margin-left: 10px;
  }
  cursor: pointer;
}
.header .profile-image {
  width: 25px;
}

.footer-button {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 7px;
  width: 75px;
  height: 25px;

  p {
    font-size: 10px;
  }

  z-index: 100;
}

.error {
  overflow: hidden;
  white-space: normal;
  word-wrap: break-word;

  color: #ff0000;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animate-fade-in {
  animation: fade-in 0.5s forwards;
}

.animate-fade-out {
  animation: fade-out 0.5s forwards;
}

/* Modal */
.modal-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 1000;
}

.modal-body {
  background-color: var(--background-color);
  padding: 30px;
  border-radius: 15px;
  max-width: 300px;
  width: 100%;

  z-index: 1000;
}

.modal-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-bottom: 50px;
}
.modal-header p {
  margin-top: 10px;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}
