@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  font-family: 'Inter', sans-serif;

  --button-color: #dfa479;
  --button-color_hover: #ad7247;
  --text-color: #ffffff;
  --subtext-color: #e1e1e1;
  --background-color: #1b1b1b;
}

.background {
	width: 100vw;
	height: 100vh;
	position: absolute;
	z-index: -1;
	background-color: var(--background-color);
	overflow: hidden;
	top: 0;
	right: 0;
	> * {
		position: absolute;
	}
}
.background .left-lower {
	left: 0;
	bottom: 0;
}
.background .right-lower {
	right: 0;
	bottom: 0;
}
.background .right-upper {
	right: 0;
	top: 0;
}

